
#containerLogin {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
}

.logo {
  margin-bottom: 30px;
}

#logoLogin {
  border: 5px solid white;
}

.form-control {
  border-radius: 20px;
}

.btn {
  border-radius: 20px;
}
